body
{
	margin: 0;
	padding: 0;
	color: #2c2d31;
	font: normal 10pt Helvetica,Arial,sans-serif;
	background-color: #F7F7F7;
	background: #D9D9E0 url("../images/body_background.jpg") no-repeat center top;
}

body a
{
	cursor:pointer;
}
#page
{
	background-color: white;
	/*rounded corners*/
	-webkit-border-radius:  5px 5px 0 0;
	-moz-border-radius:  5px 5px 0 0;
 border-radius: 5px 5px 0 0;
}
	
	
}

#header
{

}
#header-container
{
	margin:auto;
	width:960px;
}
.hazard
{
	background: #D9D9E0 url("../images/hazard bar.png") no-repeat center top;
	height:45px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius:0 0 5px 5px;
	width:960px;
	margin:auto;
}
#content
{
	padding-left:10px;
	padding-right:10px;
	
	min-height:450px;
}


#sidebar
{
	padding: 20px 10px ;
}

#footer
{  

	border-top: 1px solid #D9D9D9;
	font-size: 12px;
	color:#6E665E;
	text-align: center;
	background-image: -webkit-linear-gradient(#E6E6E6, #FFF);
	background-image: -moz-linear-gradient(#E6E6E6, #FFF);
	background-image: linear-gradient(#E6E6E6, #FFF);
	
	width:960px;
	margin:auto;
	min-height: 100px;
}

#footer a
{  

	color:#6E665E;

}
.innerfooter
{
	padding: 20px;
}
#logo
{
	padding: 20px 0 0 0;
	font-size: 200%;
	
}
.landingcontainer
{
	
	
}
.landing
{
	color: white;
	background: #434343; /* Old browsers */
	background: -moz-linear-gradient(top,  #434343 0%, #030200 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434343), color-stop(100%,#030200)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #434343 0%,#030200 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #434343 0%,#030200 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #434343 0%,#030200 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #434343 0%,#030200 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#030200',GradientType=0 ); /* IE6-9 */
		
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 2px solid #ffffff;
	
	font-weight:bold;
	width:600px;
	margin:auto;
	
	-webkit-box-shadow: 1px 1px 5px 0px rgba(56, 56, 56, 0.75);
-moz-box-shadow:    1px 1px 5px 0px rgba(56, 56, 56, 0.75);
box-shadow:         1px 1px 5px 0px rgba(56, 56, 56, 0.75);
	
	padding:5px 15px;
}
.landing.title
{
	font-size:22px;
	font-weight:bold;
	margin-bottom:10px;
	padding:10px 15px;
	
}
.landing label
{
	
	font-size:15px !important;
	
}
.landing input
{
	padding: 5px !important;
	font-size:15px !important;
	height:30px !important;
	width:250px !important;
}
.landing .rememberMe input
{
	padding: 5px !important;
	font-size:15px !important;
	height:12px !important;
	width:15px !important;
}
.landing .row
{
	margin: 0px 0px 10px 0px !important; 
}
.landing h1
{
	color:white;
	font-size:20px;
}
.landingcontainer .row.submit .btn
{
	color:#2c2d31;
	
	height:30px !important;
	width:100px !important;
}

.welcome_banner{
	font-size:12px;
	display:inline-block;
color:white;
margin-right:14px;
}
#mainmenu
{
	font-size:0px;
	float:right;
	background-color:#2c2d31;
	border-radius: 0px 0px 0px 10px;
-moz-border-radius: 0px 0px 0px 10px;
-webkit-border-radius: 0px 0px 0px 10px;

}

#mainmenu ul
{
	padding: 12px 15px 14px 20px;
	display:inline-block;
}

#mainmenu ul li
{
	display: inline;

}

#mainmenu ul li a
{
	color:#CCC;
	background-color:#transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:0 14px;
	border-top: none;
	border-bottom:none;
	border-left: solid 1px white;
	border-right: solid 1px white;
}

#mainmenu ul li.active a
{
	color:white;
	background-color:#8B857E;
	background-image: none;
	text-decoration:none;
}

#mainmenu ul li a:hover
{
	color: #D9D9D9;
	background-color:#999;
	text-decoration:none;
}
#dashboardmenu
{
	font-size:0px;
	width:880px;
	background-color:#2c2d31;
	margin:auto;
	padding:20px 35px;
	/*rounded corners*/
	
}

#dashboardmenu ul
{
	
	display:block;
}

#dashboardmenu ul li
{
	display: inline-block;
	width:85px;
	margin:auto;
	margin-right:15px;
	
	background-color:#898989;
	text-align:center;
	vertical-align:middle;
	border:solid 1px #000000;
	/*rounded corners*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
		
}
.dashboardmenu_item
{
	display: inline-block;
	width:85px;
	margin:auto;
	text-align:center;
	vertical-align:middle;
	
}
.vertical_align
{

	display: inline-block;
    height: 100%;
    vertical-align: middle;
	
}
#dashboardmenu ul li a
{
	color:#CCC;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	/*padding:12px 5px;*/
	height:100px;
	display: inline-block;
	vertical-align:middle;
}

#dashboardmenu ul li.active
{
	color:#2c2d31;
	background: #dca106; /* Old browsers */
	background: -moz-linear-gradient(top,  #dca106 0%, #ffff00 33%, #ffff00 66%, #dca106 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dca106), color-stop(33%,#ffff00), color-stop(66%,#ffff00), color-stop(100%,#dca106)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dca106 0%,#ffff00 33%,#ffff00 66%,#dca106 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dca106 0%,#ffff00 33%,#ffff00 66%,#dca106 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dca106 0%,#ffff00 33%,#ffff00 66%,#dca106 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dca106 0%,#ffff00 33%,#ffff00 66%,#dca106 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dca106', endColorstr='#dca106',GradientType=0 ); /* IE6-9 */

	text-decoration:none;
}
#dashboardmenu ul li.active a
{
	color:#2c2d31;
}

#dashboardmenu ul li:hover
{
	color: #2c2d31;
	background: #dca106; /* Old browsers */
	background: -moz-linear-gradient(top,  #dca106 0%, #ffff00 33%, #ffff00 66%, #dca106 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dca106), color-stop(33%,#ffff00), color-stop(66%,#ffff00), color-stop(100%,#dca106)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dca106 0%,#ffff00 33%,#ffff00 66%,#dca106 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dca106 0%,#ffff00 33%,#ffff00 66%,#dca106 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dca106 0%,#ffff00 33%,#ffff00 66%,#dca106 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dca106 0%,#ffff00 33%,#ffff00 66%,#dca106 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dca106', endColorstr='#dca106',GradientType=0 ); /* IE6-9 */

	text-decoration:none;
}
#dashboardmenu ul li:hover a
{
color: #2c2d31;

}
#dashboardmenu .current
{
-webkit-box-shadow: 0px 0px 3px 3px rgba(255,255,50,.5);
-moz-box-shadow: 0px 0px 3px 3px rgba(255,255,50,1);
box-shadow: 0px 0px 3px 3px rgba(255,255,50,1);
}
#dashboardmenu .verifyOff
{
	background: #cc0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #cc0000 0%, #f02f17 39%, #f02f17 65%, #cc0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(39%,#f02f17), color-stop(65%,#f02f17), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cc0000 0%,#f02f17 39%,#f02f17 65%,#cc0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cc0000 0%,#f02f17 39%,#f02f17 65%,#cc0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cc0000 0%,#f02f17 39%,#f02f17 65%,#cc0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cc0000 0%,#f02f17 39%,#f02f17 65%,#cc0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
}

#dashboardmenu .verifyOn
{
	background: #008a00; /* Old browsers */
	background: -moz-linear-gradient(top,  #008a00 0%, #52b152 39%, #52b152 60%, #008a00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008a00), color-stop(39%,#52b152), color-stop(60%,#52b152), color-stop(100%,#008a00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #008a00 0%,#52b152 39%,#52b152 60%,#008a00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #008a00 0%,#52b152 39%,#52b152 60%,#008a00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #008a00 0%,#52b152 39%,#52b152 60%,#008a00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #008a00 0%,#52b152 39%,#52b152 60%,#008a00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#008a00',GradientType=0 ); /* IE6-9 */
	
}

#submenu
{
	/*background:white url(bg.gif) repeat-x left top;*/margin-left:10px;
	
}

#submenu ul
{
	padding:6px 20px 4px 10px;
	border-radius:13px;
}

#submenu ul li
{
	display: inline;
}

#submenu ul li a
{
	color:#999;
	background-color:#FBFBFB;
	background-image: -moz-linear-gradient(top , #FFFFFF, #E8E8E8);
	background-image: -webkit-linear-gradient(top , #FFFFFF, #E8E8E8);
	background-image: linear-gradient(top , #FFFFFF, #E8E8E8);
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 40px 4px 40px;
	border: solid 1px #D9D9D9;
	
}

#submenu ul li.active a
{
	color:#6E665E;
	background-color:white;
	background-image: none;
	text-decoration:none;
	border-right: solid 1px #D9D9D9;
	border-top: solid 1px #D9D9D9;
	border-left: solid 1px #D9D9D9;
	border-bottom: none;
	padding:5px 40px 5px 40px;
}

#submenu ul li a:hover
{
	color: #D9D9D9;
	background-color:#999;
	text-decoration:none;
}
#wzd-menu {
	
	margin:5px 0;
    padding: 0;
}

#wzd-menu li {
	background: #DBD9D7;
	color: #F2F2F2;
	display: inline;
	font-weight: bold;
	list-style: none;
	padding: 6px 15px ;
	position: relative;
}
/*
#wzd-menu li:before {
	content:"";
	display:block; /* reduce the damage in FF3.0 *//*
	position:absolute;
	width:0;
	height:0;
	top:0px; /* controls vertical position */
	right:-20px; /* value = - border-left-width - border-right-width *//*
	bottom:auto;
    left:auto;
	border-width:15px 0 15px 20px;
	border-style:solid;
	border-color:transparent #c9e0ed;
	z-index: 1;
}
*/
/* creates the smaller  triangle 
#wzd-menu li:after {
	content:"";
	display:block; /* reduce the damage in FF3.0 *//*
	position:absolute;
	width:0;
	height:0;
	top:6px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	right:-15px; /* value = - border-left-width - border-right-width *//*
	bottom:auto;
    left:auto;
	border-width:9px 0 9px 15px;
	border-style:solid;
	border-color:transparent #fff;
	z-index: 1;
}
*/

#wzd-menu li.wzd-active:before {
	border-color:transparent #666;
	background-color: #6E665E;
}

#wzd-menu li.wzd-active {
	
	color: white;
	background-color: #6E665E;
}

#wzd-menu li.wzd-first {
	margin-left:0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	/*padding-left: 10px;*/
}

#wzd-menu li.wzd-last
{
	-webkit-border-top-righ-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#wzd-menu li.wzd-last:before, #wzd-menu li.wzd-last:after {
	display: none;

}




#wzd-menu li.wzd-previous {
	background:  #CCC;
}

#wzd-menu li.wzd-previous:before {
	border-color:transparent #666;
}

#wzd-menu li a {
	text-decoration: none;

}

 #wzd-menu li.wzd-previous a {
	color:   #999;
}

#wzd-menu li.wzd-active a{
	color:white;

}

.portlet
{
	margin-bottom:10px;
}

.portlet-decoration
{
	padding: 3px 8px;
	background: #6E665E;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px; 
	
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 3px 0;
	margin: 0;
	color: #CCC;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 0px 0;
	padding: 5px 8px;
	background:none;
	border: solid 1px #999;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px; 
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}
#chartMenu
{
	width: 250px;
	
}

.chartmenu_decoration
{
	padding: 3px 8px;
	background: #6E665E;
	background-color:#2c2d31;
	font-variant: small-caps;
}

.chartmenu_title
{
	font-size: 1.2em;
	font-weight: bold;
	padding: 3px 0;
	margin: 0;
	color: white;
	font-variant: small-caps;
}

.chartmenu_content
{
	font-size:1em;
	margin: 0 0 0px 0;
	padding: 5px 8px;
	background-color:#2c2d31;
	font-variant: small-caps;
	color:white;

}

.chartmenu_content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.chartmenu_content li
{
	padding: 6px 0 6px 10px;
	
}
.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #999;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:hover
{
	background: #999;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
	background-image: -webkit-linear-gradient( #F6F9FD, #DCEBF6);
	background-image: -moz-linear-gradient( #F6F9FD, #DCEBF6);
	border-radius: 3px;
	border:  solid 1px #00A0DE;
	color:#00A0DE;
	padding:10px;
	vertical-align:center;
	font-size:15px;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 20px;
	margin: 0px 0px 0px;
	border: 1px solid #CCC;
	background-color:#FFF;
}

div.viewstacked
{
	padding: 15px 20px;
	margin: 0px 0px 0px;
	border: 1px solid #CCC;
	background-color:#FFF;
	border-top:none;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.videoFrame {
	
	width:500px;
	height: 333px;
	background:white;
	padding:10px;
	padding-bottom:10px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 4px #F2F2F2;
}


/*buttons*/
.btn {
   
    -moz-transition: all 0.1s linear 0s;
    
    color: #6E665E;
    cursor: pointer;
    display: inline-block;
	font-family:Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: normal;
    padding: 5px 14px 6px;
   
}

.btnAuction {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.1s linear 0s;
    background-color: #66C6EB;
    background-image: -moz-linear-gradient(center top , #66C6EB,  #02A1DE);
	background-image: -webkit-linear-gradient(top, #66C6EB,  #02A1DE);
    background-image: -ms-linear-gradient(center top ,#66C6EB,  #02A1DE);
    background-image: -o-linear-gradient(center top , #66C6EB,  #02A1DE);
    background-image: linear-gradient(center top , #66C6EB,  #02A1DE);

    background-repeat: no-repeat;
    border-color: #66C6EB #66C6EB #02A1DE;
    border-radius:8px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
	font-family:Helvetica,Arial,sans-serif;
    font-size: 20px;
	font-weight:bold;
    line-height: normal;
    padding: 5px 14px 6px;
	text-shadow: 0px 1px 0px #006787;
	
}

.btnUpload{
   background-color: #414141;
  *background-color: #222222;
  color:white;
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	border-style: solid;
    border-width: 1px;

}
.btnUpload:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-image:none;
}

.btnUpload:hover,
.btnUpload:active,
.btnUpload.active,
.btnUpload.disabled,
.btnUpload[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.btnUpload:active,
.btnUpload.active {
  background-color: #080808 \9;
}

.btnSocoSearch {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.1s linear 0s;
	 border-color: #F7931E;
	background-color: #F7931E;
    background-image: -moz-linear-gradient(center top , #FAAB70,  #F47B20);
	background-image: -webkit-linear-gradient(top, #FAAB70, #F47B20);
    background-image: -ms-linear-gradient(center top ,#FAAB70,  #F47B20);
    background-image: -o-linear-gradient(center top , #FAAB70, #F47B20);
    background-image: linear-gradient(center top , #FAAB70, #F47B20);
/*
	background-color: #66C6EB;
    background-image: -moz-linear-gradient(center top , #66C6EB,  #02A1DE);
	background-image: -webkit-linear-gradient(top, #66C6EB,  #02A1DE);
    background-image: -ms-linear-gradient(center top ,#66C6EB,  #02A1DE);
    background-image: -o-linear-gradient(center top , #66C6EB,  #02A1DE);
    background-image: linear-gradient(center top , #66C6EB,  #02A1DE);
    border-color:#66C6EB;
*/
	
    background-repeat: no-repeat;
    

	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;

	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 0px;
	border-bottom-left-radius:0px;

    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
	font-family:Helvetica,Arial,sans-serif;
    font-size: 16px;
	font-weight:bold;
    line-height: normal;
    padding: 1px 14px 2px;
	text-shadow: 0px 1px 1px #666 ;
	height:30px!important;
}

.btnBid{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.1s linear 0s;
    background-color: #F7931E;
    background-image: -moz-linear-gradient(center top , #FAAB70,  #F47B20);
	background-image: -webkit-linear-gradient(top, #FAAB70, #F47B20);
    background-image: -ms-linear-gradient(center top ,#FAAB70,  #F47B20);
    background-image: -o-linear-gradient(center top , #FAAB70, #F47B20);
    background-image: linear-gradient(center top , #FAAB70, #F47B20);

    background-repeat: no-repeat;
    border-color: #F7931E;

	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;

	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius:5px;

    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
	font-family:Helvetica,Arial,sans-serif;
    font-size: 16px;
	font-weight:bold;
    line-height: normal;
    padding: 3px 14px;
	text-shadow: 0px -1px 0px #666 ;
	
}

.bidBig
{
	font-size: 24px;
	font-weight:none;
	
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;

	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius:10px;
	padding: 5px 30px;
	width:190px !important;
}

.btnbidselectbig
{
	-moz-transition: all 0.1s linear 0s;
	
	border: 1px solid #FF9933;
    border-radius:4px;
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.7) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
	width:180px !important;
	height:45px !important;
	background-color:#F7931E;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-radius: 3px; 
	margin:auto;
	color:white;
	font-size: 18px;
	font-weight:bold;

}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
	font-family:Helvetica,Arial,sans-serif;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}

input[type=checkbox], input[type=radio] {
  cursor: pointer;
}

input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 220px;
  height: 18px;
  padding: 2px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
select {
  padding: initial;
}
input[type=checkbox], input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE6-7 */

  line-height: normal;
  border: none;
}
input[type=file] {
  background-color: #ffffff;
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
	width:270px;
}
input[type=button], input[type=reset], input[type=submit] {
  width: auto;
  height: auto;
	font-family: Helvetica,Arial,sans-serif;
}
select, input[type=file] {
  height: 24px;
  *height: auto;
  line-height: 27px;
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

}
select[multiple] {
  height: inherit;
  background-color: #ffffff;
}
textarea {
  height: 150px;
	width:600px;
}

.uneditable-input {
  background-color: #ffffff;
  display: block;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}

input, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input:focus, textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=file]:focus, input[type=checkbox]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}

.wzdShadowBox
{
	
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
	border-radius: 3px;
	border:  solid 1px #CCC;
 	clear:both;
	padding: 20px;
	margin: 10px 0px;

	background-color:white;
	
}

.portletShadowBox
{
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 4px #F2F2F2;
	clear:both;
	padding: 10px;
	background-color: white;
}
.whitebox
{
	border:  solid 1px #CCC;
 	clear:both;
	padding: 10px;
	
	background-color:white;
	
}
.blueNote
{

	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
	background-image: -webkit-linear-gradient( #F6F9FD, #DCEBF6);
	background-image: -moz-linear-gradient( #F6F9FD, #DCEBF6);
	border-radius: 3px;
	border:  solid 1px #00A0DE;
	color:#00A0DE;
	padding:10px;
	vertical-align:center;
	font-size:15px;
}

.greyNote
{
	border: solid 1px #D9D9D9;
	background-color: #F2F2F2;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
}

.pageView
{
	border: solid 1px #D9D9D9;
	border-radius: 3px;
	padding:20px;
	margin:10px;
	margin-top:0px;
	background-color: white;
	
}

.pageTitle
{
	font-size:18px;
	color:#00A0DE;
	font-weight:bold;
	margin-bottom:20px;
}
.report.wizard,.report.admin,.report.update,.report.View,.report.index, .choices.View
{
	/*border: solid 1px #D9D9D9;
	border-radius: 3px;*/
	
	
	margin-bottom:10px;
	background-color: white;
		
}

.reportTitle, .choicesTitle
{
	font-size:18px;
	color:#00A0DE;
	font-weight:bold;
	margin-bottom:20px;
}

.clear-fix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear-fix
{
    zoom: 1;
}

.maskedModal
{
	visibility: hidden;
	position:absolute;
	left:0px;
	top:0px;

	font-weight:bold;
	padding:40px;
    z-index:99;
	background-color:black;
	opacity:0.7;
}
.popUp
{
	position:absolute;
	visibility: hidden;
	display:none;
	margin:auto;
	border-radius:5px;
	border: solid 3px CCC;
	padding:10px;
    z-index:999;
	background-color:#FFF;
	width:900px;
	border:solid 5px #D9D9D9;
	top:0px;
}

#howWorks .title, #FAQ .title, #about .title, #careers .title
{
	font-size:24px;
	color:#009DDC;
	font-weight:bold;
	margin-bottom:30px;
}
#howWorks .pointLabel, #FAQ .pointLabel , #careers .pointLabel
{
	font-size:18px;
	color:#6E665E;
	font-weight:bold;
	margin-bottom:10px;
}


#howWorks p, #FAQ p
{
	color:#999;
	font-size:14px;
}

#howWorks .row, #FAQ .row, #careers .row
{
	margin-bottom:20px;
}
#howWorks li, #FAQ li, #careers li
{
	margin-left:20px;
}




#helpdesk
{
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 4px #F2F2F2;
	background-color: white;
	
    display: block;
    position: fixed;
	padding:10px 7px 10px 10px;
	width:55px;
    top: 45%;

	right:0;
}
.bidalert
{
	
}
.bidscompare
{
	background-color:white;
	border:solid 1px #D9D9D9;
	padding:20px;
}
.bidvertical{
float:left;
}

.bidrowtitle{
	width:270px;
}
.biddata{
width:154px;
text-align:right;
}
.bidheader{
text-align:left;
height:85px;
}

.bidrow
{
	
	background-color:white;
	border: 1px solid #D9D9D9;
	border-top:none;
	border-left:none;
	vertical-align:middle;
	height:20px;
	padding:5px 10px;
}
.bidselected
{

	background-color:#FEF0DF;
}
.bidrowtop{
height:85px;
vertical-align:top;
padding-top:10px;
}
.bidrowright
{
	border-right: none;
}
.bidrowleft{

border-left:none;
}
.bidrowbottom
{
	
}
.bidgrey{
background-color:#ECECEC;	
}
.bidblue{
background-color:#E5EFFA;	
}
.bidmediumtext
{
	font-size:11pt;
	overflow: hidden;
	
}
.bidlargetext
{
	font-size:13pt;
	font-weight:bold;

}
.btnbidselect
{
	-moz-transition: all 0.1s linear 0s;
	border: 1px solid #FF9933;
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.7) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
	width:110px !important;
	padding:3px;
	background-color:#F7931E;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
	margin:auto;
	color:white;
    
	font-size: 13pt;
	}
/*bid detail*/
.biddetailrowdata
{
	border-bottom:1px solid #D9D9D9;
	font-size:14px;
}
/*bid detail*/
.biddetailrowheader
{
	border-bottom:1px solid #D9D9D9;
 background-color:#ECECEC;	
	font-weight:bold;
	font-size:14px;
}
.biddetailtitle{
	width:270px;
	float:left;
	padding:8px 10px;
}
.socodetailtitle{
	width:240px;
	text-align:left;
	border:none;
	padding:5px 0px 5px 10px;
	font-size:15px;
}
.socodetaildata
{
	padding:6px 10px;
	font-size:15px;
}
.bidhelpicon
{
	cursor:pointer;
	margin:0 20px 0 0;
}
.biddetaildata
{
	float:left;
	padding:8px 10px;
	border-left: 1px solid #D9D9D9;
	min-height:17px;
	overflow:hidden;
	max-width:550px;
}
/*bid form*/
.bidformrow
{
	height:40px;
	vertical-align:middle;
}
.bidformodd
{
	background-color:#F7F7F7;
}

.bidformh1
{
	font-weight:bold;
	font-size:18px;
	margin:5px 10px;
	display:block;
}

.bidformh2
{
	font-weight:bold;
	font-size:16px;
	margin:10px;
}
.bidformtitle
{
	font-size:14px;
	font-weight:bold; 
	width:220px;
	display:inline-block;
	padding-left:5px;
	
	
}
.bidformdata
{
	font-size:14px;
	display:inline-block;
	margin-top:8px;
	
}

.popuphelp
{
 	border: 2px solid #7FC3EE;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color:#D7F0FA;
	display:none;
	visibility:hidden;
	position:absolute;
	width:250px;
	padding:10px;
	color:#00A0DE;
	z-index:1000;
	
}

.biowriteup
{
	font-size:14px;
	line-height:18px;
}

.biotitle
{
	font-size:16px;
	font-weight:bold;
	line-height:18px;
	margin-bottom:10px;
}

